[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "academictwitteR"]
	path = academictwitteR
	url = https://github.com/cjbarrie/academictwitter
[submodule "quiltr"]
	path = quiltr
	url = https://github.com/cjbarrie/quiltr
